.text-center{
    text-align: center;
}

.bg-cyan{
    background: cyan;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.l-gray{
    background-color: #9e9e9e;;
}

.yellow{
    background-color: #f69805;
    color: black;
}

.d-gray{
    background-color: #303030;
    color: white;
}